/* Write your CSS here */
.children {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #475569;
  height: 200px;
  width: 60%;
  margin: 10px;
  border-radius: 8px;
}
.x-icon {
  height: 30px;
  width: 30px;
}
